<% if current_user.approved? %>
  <h1> Resident's Dashboard </h1>

  <p>Welcome <%= current_user.first_name %></p>

<% else %>
  <div class="pending-dash">
    <p>Hi, <strong><%= current_user.first_name %></strong>! Your resgistration status is currently <strong><%= current_user.status.upcase %></strong>. Please wait for an email confirmation to be sent to <strong><%= current_user.email %></strong>.</p><br>
    <p>Thank you for your patience!</p>
  </div>
<% end %>
