<p>Greetings, <%= @user.first_name %> <%= @user.last_name %>!</p>
<p>Our records show that currently, you are not a resident of our barangay. If you believe this is a mistake, please proceed to the barangay hall to verify our records. Otherwise, please register to the barangay you currently reside in. Thank you.</p>
<p>- Barangay Portal Admin</p>