<div class="new-complaint-wrapper">
    <h1 class="page-title">File a Complaint</h1>
    <p class="page-description">As part of our goal to extend services to the residents of our barangay, users of this platform can now file a complaint online. Please provide a detailed description of the event/concern. Be it about a fellow resident, a missing item, a witnessed crime, or even our own staff, we will do our best to listen to your concerns as fast as possible.</p>

    <%= render 'form', complaint: @complaint %>
</div>